body {
  background-color: pink;
}
div {
  font-size: 14px;
}
.nav::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: aqua;
}
.nav .logo {
  color: #f524a5;
}
.nav .logo:hover {
  color: #666;
}
.banner {
  width: 20px;
  height: 200px;
  background-color: blueviolet;
}
